<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collection-link">
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding</a>
                <a href="{% url 'products' %}?category=office_business_dinner" class="dropdown-item">Office or Business Dinner</a>
                <a href="{% url 'products' %}?category=prom_dresses" class="dropdown-item">Prom Dresses</a>
                <a href="{% url 'products' %}?category=short_cocktail_dresses" class="dropdown-item">Short and Cocktail Dresses</a>
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=cocktail_dresses" class="dropdown-item">Cocktail Dresses</a>
                {% if all_categories %}
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                {% else %}
                    <a href="{% url 'products' %}?category={{ all_categories|join:',' }}" class="dropdown-item">All Products</a>
                {% endif %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-in-link">
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                How it works
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="how-it-works-link">
                <a href="#" class="dropdown-item">How it works</a>
            </div>
        </li>
    </ul>
</div>
