{% extends "base.html" %}

{% block extratitle %}
| About Us
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="my-5">About Us</h1>
            <p>Welcome to Style Spark! We are your premier destination for renting stylish, high-quality dresses for any occasion. Our mission is to make it easy and affordable for you to look your best without the hassle and cost of purchasing new dresses for every event.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Our Story</h2>
            <h3>StyleSpark: Your Closet, Reimagined</h3>
            <p> We believe that every occasion deserves a show-stopping outfit, without the hefty price tag or the environmental impact. That's why we created StyleSpark – a fashion rental service designed to empower you to look and feel your absolute best. <br>
                Imagine a world where your wardrobe is endless, and every event is a chance to reinvent your style. With StyleSpark, that dream becomes a reality. We curate a collection of stunning, high-quality dresses for every occasion, from cocktail parties to weddings. Rent your perfect look at a fraction of the retail price, and return it when you're done. <br>
                We're passionate about sustainable fashion and believe that renting is the future. By choosing StyleSpark, you're not just looking fabulous; you're also helping to reduce fashion waste and protect our planet. <br>
                Join us in redefining the way you experience fashion.</p>
        </div>
        <div class="col-md-6">
            <h2>What We Offer</h2>
            <p>We offer a wide range of dresses for every occasion. From elegant wedding gowns to chic cocktail dresses, our collection is carefully curated to ensure that you have access to the latest trends and timeless classics. Our easy rental process allows you to select your dress, wear it, and return it without any hassle.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2>Why Choose Us</h2>
            <ul>
                <li>Wide selection of dresses for every occasion</li>
                <li>Affordable rental prices</li>
                <li>High-quality, well-maintained dresses</li>
                <li>Easy and convenient rental process</li>
                <li>Exceptional customer service</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
